#layout_content {
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    background-color: #aaa;
}
#layout_content .layoutContent:nth-child(1) {
    color: white;
    text-shadow: -2px -2px 1px #aaa,
    0px 4px 1px rgba(0,0,0,0.5),
    4px 4px 5px rgba(0,0,0,0.7),
    0px 0px 7px rgba(0,0,0,0.4);
}
/* #layout_content .layoutContent:nth-child(2) {
} */

