.header {
    position: fixed;
    top: 0; left: 0;
    height: 100%; width: 6%;
    background-color: #a0a0a0;
    float: left;
}
.header_contents {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.header_contents .nav:nth-child(1) {
  height: 15%;
}
.header_contents .nav:nth-child(2) {
  height: 55%;
  line-height: 440%;
  font-weight: bold;
  color: white;
  text-shadow: -3px -6px 1px #aaa,
                0px 4px 1px rgba(0,0,0,0.5),
                4px 4px 5px rgba(0,0,0,0.7),
                0px 0px 7px rgba(0,0,0,0.4);
}
.header_contents .nav:nth-child(3) {
  height: 26%;
  font-size: 3em;
  margin: auto;
  line-height: 75px;
}